p {
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}
.para1 {
  margin-bottom: 5px;
}
.Amount {
  font-size: 35px;
}
.USD {
  color: grey;
}
.today {
  color: green;
  margin-bottom: 10px;
}
.after-hours {
  color: grey;
}
.amount-red {
  color: red;
}