.email {
  margin-bottom: 7px;
  color: grey;
}
.text {
  margin-top: 0px;
  margin-bottom: 12px;
  padding-right: 225px;
  padding-top: 5px;
  border-width: 2px;
  border-style: solid;
  border-radius: 2px;
}
.content {
  margin-top: 0px;
  margin-bottom: 12px;
  color: grey;
}
.agree-join {
  margin-top: 0px;
  background-color: rgb(12, 98, 228);
  color: white;
  border: none;
  border-radius: 30px;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 15px;
  padding-bottom: 15px;
}